 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/']" [routerLinkActive]="['active']">
          <i class="bi bi-grid"></i>
          <span>Escritorio</span>
        </a>
      </li><!-- End Dashboard Nav -->
  
      <li class="nav-heading">Causal de pérdidas</li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/xyz']" [routerLinkActive]="['active']">
          <i class="bi bi-card-list"></i>
          <span>Registro</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/xyz']" [routerLinkActive]="['active']">
          <i class="bi bi-card-list"></i>
          <span>Listado</span>
        </a>
      </li><!-- End Register Page Nav -->
  
    </ul>
  
  </aside><!-- End Sidebar-->
